@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{
    --blue-main: #6baefb;
    --blue-button-hover: #529cef;
}
header{
    position: fixed;
    width: 100%;
    z-index: 110;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2%;
    padding-right: 0;
    background: var(--blue-main);
}
section{
    padding: 2rem 5%;
}
.btn{
    text-decoration: none;
    color: #fff;
    background: var(--blue-main);
    padding: 1.2rem 3.7rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover{
    background: var(--blue-button-hover);
}
.box-container{
    margin: 0 auto;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32.5rem, 1fr));
    gap: 2rem;
}
.box-container .box{
    border: .2rem solid #c3c1c1;
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
    box-shadow: .8rem .8rem 1rem rgba(0,0,0,.16);
}
.box-container .box .image{
    height: 20.2rem;
}
.box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box-container .box h3{
    margin: 1rem 0;
    font-size: 2.1rem;
    color: var(--blue-main);
}
.box-container .box p{
    font-size: 1.4rem;
    line-height: 3rem;
    padding-bottom: 2.5rem;
}
header .logo i{
    font-size: 2.3rem;
    padding-right: 2rem;
    font-weight: 700;
}
header .logo span{
    font-size: 2rem;
    font-weight: 600;
}
header nav a{
    font-size: 1.8rem;
    padding: 1.2rem 1.8rem;
    transition: all .3s ease;
}
header nav a:hover{
    background: var(--blue-button-hover);
}
header a{
    text-decoration: none;
    color: #fff;
}
header .close{
    display: none;
}
header .menu{
    display: none;
}
.home{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
    position: relative;
}
.home .image{
    width: 50%;
    height: 40.1rem;
    border-radius: 1rem;
}
.home .image img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.home .content{
    width: 48%;
}
.home .content h2{
    font-size: 2.4rem;
}
.home .content p{
    font-size: 1.4rem;
    margin: 6rem 0;
}
.home .prev-btn{
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}
.home .prev-btn:hover{
    color: var(--blue-main);
}
.home .next-btn{
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}
.home .next-btn:hover{
    color: var(--blue-main);
}
hr{
    border: none;
    background: #c6c5c5;
    height: .1rem;
    width: 90%;
    margin: 2rem auto;
}
.top-services h2{
    position: relative;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: capitalize;
}
.top-services h2::after{
    content: "";
    position: absolute;
    width: 11.4rem;
    height: .4rem;
    background: var(--blue-main);
    bottom: 0;
    left: 0;
}
.top-services .btn{
    display: inline-block;
    margin-top: 5rem;
}
/* Styling of the services page begins */
.banner{
    position: relative;
    margin-top: 5rem;
    height: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.2;
}
.banner h2{
    position: absolute;
    z-index: 100;
    font-size: 4rem;
}
.banner h2 span{
    padding: 0 1rem;
    color: var(--blue-main);
}
.meal-services h2{
    position: relative;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.meal-services h2 span{
    color: var(--blue-main);
}
.meal-services h2::after{
    content: "";
    position: absolute;
    width: 11.4rem;
    height: .4rem;
    background: var(--blue-main);
    bottom: 0;
    left: 0;
}
.meal-services p{
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: justify;
}
/* The start of the styling of the branches page */
.branch-first p{
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: justify;
}
.branch-second h2{
    position: relative;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: capitalize;
}
.branch-second h2 span{
    color: var(--blue-main);
}
.branch-second h2::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: .4rem;
    width: 11.4rem;
    background: var(--blue-main);
}
.branch-second p{
    padding: 3rem 0;
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: justify;
}
.branch-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}
.branch-container .image{
    width: 45%;
    border: .1rem solid #707070;
    border-radius: 1rem;
    padding: .5rem;
    box-shadow: .8rem .8rem 1rem rgba(0,0,0,.16);
}
.branch-container .image img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
.branch-container .content{
    width: 48%;
}
.branch-container .content p{
    padding-top: 0;
}
.branch-container .content .btn{
    border: none;
}
.branch-line{
    margin-top: 10rem;
}
/* Styling of the about page begins here */
.about p, .team p, .feedback p, .contact p{
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: justify;
}
.team h2{
    position: relative;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.team h2 span{
    color: var(--blue-main);
}
.team h2::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: .4rem;
    width: 11.4rem;
    background: var(--blue-main);
}
.team .box .name{
    color: var(--blue-main);
    font-size: 2.2rem;
    padding: 1.2rem 0;
    border-bottom: .1rem solid #707070;
    font-weight: 600;
}
.team .box .details{
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 2rem 0;
}
.feedback h2{
    position: relative;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.feedback h2 span{
    color: var(--blue-main);
}
.feedback h2::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: .4rem;
    width: 11.4rem;
    background: var(--blue-main);
}
.feedback .box .image{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 100%;
}
.feedback .box .image img{
    width: 15rem;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.feedback .rating-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 1.5rem 0;
    border-bottom: .1rem solid #707070;
}
.feedback .rating-box .name{
    font-size: 2rem;
    font-weight: 600;
}
.feedback .rating-box i{
    font-size: 1.5rem;
    color: var(--blue-main);
}
.feedback .box .details{
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 2rem 0;
}
/* Styling of the contact section starts */
.contact-description h2{
    position: relative;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.contact-description h2 span{
    color: var(--blue-main);
}
.contact-description h2::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: .4rem;
    width: 11.4rem;
    background: var(--blue-main);
}
.contact-description .contact-details p{
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: justify;
}
.contact-description .contact-details .contact-form{
    color: #626161;
    margin: 3rem auto;
    font-size: 1.7rem;
    background: #D5D5D5;
    padding: 2.5rem;
}
.contact-description .contact-details .contact-form .input-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-description .contact-details .contact-form .input-row .input-box{
    width: 45%;
    position: relative;
    height: 6rem;
    /* background: red; */
    margin: 2rem 0;
}
.contact-description .contact-details .contact-form .input-row .input-box input{
    position: absolute;
    width: 100%;
    padding: 1.2rem 1.6rem;
    font-size: 1.7rem;
    border: none;
    border-bottom: .1rem solid #9e9b9b;
    outline: none;
    bottom: 0;
    background: none;
}
.contact-description .contact-details .contact-form .input-row .input-box label{
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    display: block;
    transition: all .3s ease-in-out;
}
.contact-description .contact-details .contact-form .input-row .input-box input:is(:focus, :valid) ~ label{
    transform: translateY(-3.5rem);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--blue-main);
}
.contact-description .contact-details .contact-form .input-row .input-box input:focus{
    border-bottom-color: var(--blue-main);
}
.contact-description .contact-details .contact-form .input-row .message{
    margin: 2rem 0;
    width: 100%;
    position: relative;
    height: 14rem;
}
.contact-description .contact-details .contact-form .input-row .message textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1.2rem 1.6rem;
    font-size: 1.7rem;
    border: none;
    border-bottom: .1rem solid #9e9b9b;
    outline: none;
    bottom: 0;
    background: none;
    resize: none;
}
.contact-description .contact-details .contact-form .input-row .message label{
    position: absolute;
    top: 20%;
    left: 1.6rem;
    transform: translateY(-50%);
    display: block;
    transition: all .3s ease-in-out;
}
.contact-description .contact-details .contact-form .input-row .message textarea:is(:focus, :valid) ~ label{
    transform: translateY(-3.5rem);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--blue-main);
}
.contact-description .contact-details .contact-form .input-row .message textarea:focus{
    border-bottom-color: var(--blue-main);
}
form .submit button{
    outline: none;
    border: none;
    margin-top: 2rem;
    width: 30rem;
    font-size: 2.2rem;
    font-weight: 600;
}
.contact-description .contact-details .map iframe{
    width: 100%;
    height: 60rem;
    margin-top: 4rem;
}
footer{
    background: #D5D5D5;
    margin-top: 5.3rem;
    padding: 2rem 5%;
    padding-top: 7rem;
}
footer hr{
    width: 100%;
}
footer .footer-link-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}
footer .footer-link-container .link-box h3{
    font-size: 2rem;
    color: var(--blue-main);
}
footer .footer-link-container .link-box a, footer .footer-link-container .link-box p{
    text-decoration: none;
    color: #000;
    display: block;
    margin: 2.5rem 0;
    font-size: 1.4rem;
    transition: all .3s ease-in-out;
}
footer .footer-link-container .link-box a:hover{
    color: var(--blue-main);
}
footer .footer-link-container .link-box input{
    border: none;
    outline: none;
    padding: .7rem;
    font-size: 1.4rem;
    border-bottom: .1rem solid #000;
    background: none;
    transition: all .3s ease-in-out;
    width: 100%;
}
footer .footer-link-container .link-box input:focus{
    border-bottom-color: var(--blue-main);
}
footer .footer-link-container .link-box button{
    outline: none;
    border: none;
    display: inline-block;
    margin-top: 2rem;
}
footer .footer-link-container .link-box .social-media-icons{
    margin-top: 3rem;
    display: flex;
    gap: 2.5rem;
}
footer .footer-link-container .link-box .social-media-icons a{
    font-size: 2rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
    padding: .4rem;
}
footer .footer-link-container .link-box .social-media-icons a:hover{
    color: var(--blue-main);
}
footer .credit{
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem 0;
}
footer .credit span{
    color: var(--blue-main);
}
/* Responsive design of the index page starts */
@media only screen and (max-width: 1200px){
    html{
        font-size: 55%;
    }
    section{
        padding: 2rem;
    }
    .home{
        margin-top: 8rem;
        gap: 5rem;
    }
    .home .image{
        padding-left: 4rem;
    }
    hr{
        width: 98%;
        margin: 2rem auto;
    }
}
@media only screen and (max-width: 768px){
    header nav{
        top: 100%;
        left: -100%;
        position: absolute;
        width: 50vw;
        z-index: 1000;
        height: 100vh;
        background: var(--blue-main);
        transition: all .3s ease-in-out;
    }
    header nav.active{
        left: 0;
    }
    header nav a{
        display: block;
        padding: 1.5rem 2.2rem;
    }
    header .menu{
        display: initial;
        font-size: 2.5rem;
        color: #fff;
        margin-right: 4rem;
        padding: .5rem;
        cursor: pointer;
    }
    .home{
        flex-wrap: wrap;
    }
    .home .image{
        width: 100%;
        padding-left: 0;
    }
    .home .content{
        width: 100%;
    }
    .home .content p {
        margin: 2rem 0 3rem 0;
    }
    .home .prev-btn{
        left: 80%;
        right: 5rem;
        top: 75%;
    }
    .home .next-btn{
        right: 5rem;
        top: 75%;
    }
    .box-container{
        margin-top: 2rem;
    }
    /* Responsive styling for the services page */
    .banner {
        height: 20rem;
        margin-bottom: 2rem;
    }
    .banner h2 {
        position: absolute;
        z-index: 100;
        font-size: 3rem;
    }
    .meal-services p {
        font-size: 1.4rem;
    }
    .box-container .box p {
        font-size: 1.4rem;
    }
    /* Responsive styling of the branches page */
    .branch-container {
        flex-wrap: wrap;
        height: auto;
        gap: 4rem;
    }
    .branch-container .image {
        width: 100%;
        height: 40rem;
    }
    .branch-container .content {
        width: 100%;
    }
    .branch-line {
        margin-top: 2rem;
    }
    /* Responsive styling of the contact page */
    .contact-description .contact-details .contact-form {
        font-size: 1.4rem;
    }
    form .submit button {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 500px){
    header nav{
        width: 75vw;
    }
    .home .image{
        height: 25rem;
    }
    .home .content h2{
        font-size: 1.8rem;
    }
    .home .content p{
        margin: 2rem 0 3rem 0;
        font-size: 1.2rem;
    }
    .btn {
        padding: 1rem 3rem;
        font-size: 1.2rem;
    }
    .home .prev-btn{
        left: 70%;
        right: 5rem;
        top: 60%;
    }
    .home .next-btn{
        right: 5rem;
        top: 60%;
    }
    .top-services h2{
        font-size: 1.6rem;
        padding-bottom: 1.5rem;
    }
    .box-container .box h3{
        font-size: 1.6rem;
    }
    .box-container .box p{
        font-size: 1.2rem;
        line-height: initial;
        padding: 0;
    }
    .top-services .btn {
        display: inline-block;
        margin-top: 2rem;
    }
    /* Responsive styling for the services page */
    .meal-services h2 {
        font-size: 1.8rem;
    }
    .meal-services p {
        margin: 2rem 0 3rem 0;
        font-size: 1.2rem;
        line-height: initial;
    }
    .box-container .box h3 {
        font-size: 1.6rem;
    }
    .meal-services .box-container .box p {
        padding: 0 !important;
        line-height: initial;
    }
    /* Responsive styling of the branches page */
    .branch-second h2 {
        font-size: 1.8rem;
    }
    .branch-first p{
        font-size: 1.2rem;
        line-height: initial;
    }
    .branch-second p {
        font-size: 1.2rem;
        line-height: initial;
    }
    .branch-container .image {
        height: 25rem;
    }
    /* Responsive styliing of the about us page */
    .about p, .team p, .feedback p, .contact p {
        font-size: 1.2rem;
        line-height: initial;
    }
    hr {
        width: 98%;
        margin: 1rem auto;
    }
    .team h2 {
        font-size: 1.6rem;
    }
    .team .box .name {
        font-size: 1.6rem;
    }
    .team .box .details {
        font-size: 1.2rem;
        line-height: initial;
        padding: 2rem 0 0 0;
    }
    .feedback h2 {
        font-size: 1.6rem;
    }
    .feedback .rating-box .name {
        font-size: 1.6rem;
    }
    .feedback .rating-box i {
        font-size: 1.3rem;
    }
    .feedback .box .details {
        font-size: 1.2rem;
        line-height: initial;
        padding: 0;
    }
    /* Responsive styling of the contact page */
    .contact-description h2 {
        font-size: 1.6rem;
    }
    .contact-description .contact-details p {
        font-size: 1.2rem;
        line-height: initial;
    }
    .contact-description .contact-details .contact-form .input-row {
        flex-wrap: wrap;
    }
    .contact-description .contact-details .contact-form .input-row .input-box {
        width: 100%;
        height: 5rem;
    }
    form .submit button {
        width: 20rem;
        font-size: 1.6rem;
    }
    /* Responsive styling of the footer */
    footer {
        margin-top: 1.2rem;
        padding-top: 2.2rem;
    }
    footer .footer-link-container .link-box h3 {
        font-size: 1.6rem;
        color: var(--blue-main);
    }
    footer .footer-link-container .link-box a, footer .footer-link-container .link-box p {
        margin: 2rem 0;
        font-size: 1.2rem;
    }
    footer .footer-link-container .link-box .social-media-icons {
        gap: 1.5rem;
    }
    footer .footer-link-container .link-box .social-media-icons a {
        font-size: 1.4rem;
    }
    footer .credit {
        font-size: 1.2rem;
    }
}
